.app {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #065906 30%, #1af069);
}

.app-header {
  background-color: #fff;
  display: flex;
  max-height: 60px;
  justify-content: center;
}

.menu {
  display: flex;
}

.menu-nav {
  display: flex;
  justify-content: end;
  margin-left: 55em;
}

.icones {
  display: flex;
}

.item-menu {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  cursor: pointer;
}

li {
  list-style: none;
}

.icone-menu {
  max-width: 1.6em;
  max-height: 1.6em;
  width: auto;
  height: auto;
}

.icone-li {
  display: flex;
  margin-right: 0.6em;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
